.container {
  width: 100%;
  height: 80%;
}

.menu {
  width: 15%;
  background-color: #28e5e5;
  padding: 5px 10px;
  justify-content: space-between;
  display: flex;
}

.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  gap: 10px;

  span {
    flex-grow: 1;
    text-align: center;
  }

  &:hover {
    background-color: pink;
  }
}

.content {
  flex-grow: 1;
  min-height: 500px;
  // padding: 50px;
}

.avatar {
  gap: 50px;
  align-items: center;
  margin-bottom: 40px;

  img {
    width: 200px;
    height: 200px;
  }
}

.info {
  justify-content: space-between;
  gap: 20px;
  margin: 0 50px;

  label {
    font-weight: 800;
  }

  input {
    width: 300px;
    padding: 5px;
    border-radius: 10px;

  }
}

// CODE PROFILE
.profile {
  margin: 0 100px;

  i {
    cursor: pointer;
  }
}

// CODE lich su dat tour
.history-container {
  overflow-y: auto;
}

.table-container {
  max-height: 300px;
  /* hoặc bạn tùy chỉnh theo ý, ví dụ 6 dòng ~ 300px */
  overflow-y: auto;
  border: 1px solid #ccc;
  /* Optional: cho rõ khung */
}


table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

thead {
  background-color: #f0f0f0;
  position: sticky;
  z-index: 1;
  top: 0;
}

//code cho editprofile
.edit {
  padding-bottom: 0;

  .action-btn {
    border-radius: 5px;
    width: 150px;
    height: 40px;
    border: none;
    background-color: #28e5e5;
    font-weight: bold;
    margin-top: 60px;

    &:hover {
      background-color: pink;
    }
  }
}

.show {
  display: block;
}

.hide {
  display: none;
}
