<div class="container-fluid">
  <div class="nav-brand">
    <img class="brandImg" src="/assets/images/brand.jpg">
    <a class="navbar-brand" href="">TRALVELAKÀ</a>
  </div>
  <div class="nav-menu">
    <div class="nav-item" href="">Trang Chủ</div>
    <div class="nav-item" href="#">Giới Thiệu</div>
    <div class="nav-item dropdown">
      <span class="dropdown-title" (click)="toggleDropdown()">Tours ▼</span>
      <ul class="dropdown-menu" [ngClass]="{'show': isDropdownVisible}">
        <li><a href="#">Biển đảo</a></li>
        <li><a href="#">Đồi núi</a></li>
        <li><a href="#">Đồng bằng</a></li>
      </ul>
    </div>
    <div class="nav-item" href="#">Điểm Đến</div>
    <div class="nav-item" href="#">Liên Hệ</div>
  </div>
  <div class="nav-tool">
    <i class="fa-solid fa-magnifying-glass" id="search"></i>
    <button class="bookNow">Book Now</button>
    <i class="fa-solid fa-user" id="user"></i>
  </div>
</div>
