<main>
  <!-- travel-introduction.component.html -->
  <div class="container">
    <h1 class="page-title">Welcome to Our Travel Website</h1>

    <section class="section" [ngClass]="{ 'slide-in-left': animate }">
      <h2>TRAVELAKÀ</h2>
      <p>TRAVELAKÀ là một trong những đơn vị tiên phong trong ngành du lịch, chuyên cung cấp
        các dịch vụ tour du lịch trong và ngoài nước, với mục tiêu mang đến cho khách hàng những trải nghiệm tuyệt vời
        và khó quên. Với đội ngũ hướng dẫn viên chuyên nghiệp, giàu kinh nghiệm, công ty luôn cam kết đem lại sự hài
        lòng tuyệt đối cho khách hàng thông qua các chương trình du lịch đa dạng, phù hợp với mọi đối tượng và nhu cầu.
        Bên cạnh đó, TRAVELAKÀ còn chú trọng vào việc phát triển các tour du lịch khám phá, văn hóa, và nghỉ
        dưỡng cao cấp, giúp du khách có thể tận hưởng không gian thư giãn tuyệt vời và khám phá những điểm đến hấp dẫn
        trên toàn cầu.</p>
      <div class="img-intro d-flex">
        <div class="img" [ngClass]="{ 'slide-in-top': animate }">
          <img src="/assets/images/1.jpg" alt="">
        </div>
        <div class="img" [ngClass]="{ 'slide-in-bottom': animate }">
          <img src="/assets/images/2.jpg" alt="">
        </div>
        <div class="img" [ngClass]="{ 'slide-in-top': animate }">
          <img src="/assets/images/3.jpg" alt="">
        </div>
      </div>
    </section>

    <section class="section" [ngClass]="{ 'slide-in-right': animate }">
      <h2>Lịch sử thành lập và phát triển</h2>
      <p>Công ty du lịch TRAVELAKÀ được thành lập vào năm 2020 với mục tiêu mang đến những trải nghiệm du lịch
        độc đáo và chất lượng cho du khách. Ban đầu, công ty chỉ cung cấp các tour du lịch nội địa, nhưng nhờ vào sự tận
        tâm và chất lượng dịch vụ, TRAVELAKÀ đã nhanh chóng khẳng định được vị thế trong ngành. Đến năm 2025,
        công ty mở rộng phạm vi hoạt động, bắt đầu cung cấp các tour quốc tế đến các điểm đến nổi tiếng trên khắp Việt
        NamNam. Với đội ngũ nhân viên giàu kinh nghiệm và luôn sáng tạo trong việc thiết kế các
        chương trình du lịch, công ty không chỉ thu hút được khách hàng trong nước mà còn có lượng khách quốc tế ổn
        định. Trong suốt quá trình phát triển, TRAVELAKÀ luôn chú trọng đến việc cải tiến dịch vụ và áp dụng
        công nghệ vào các hoạt động quản lý và tiếp cận khách hàng. Từ một công ty nhỏ, hiện nay TRAVELAKÀ đã
        trở thành một trong những tên tuổi lớn trong ngành du lịch, mang đến hàng nghìn chuyến đi mỗi năm, giúp khách
        hàng khám phá những địa điểm du lịch trên khắp dải đất hình chữ S với những trải nghiệm tuyệt vời và đầy ý
        nghĩa.</p>
    </section>

    <section class="section" [ngClass]="{ 'slide-in-left': animate }">
      <h2>Thông tin</h2>
      <p><strong>Địa chỉ:</strong> 55 Đ. Giải Phóng, Đồng Tâm, Hai Bà Trưng, Hà Nội, Việt Nam</p>
    </section>
  </div>

</main>
