<main>
  <!-- register form -->
<div class="wrapper register">
  <form>
    <h2>Register</h2>
    <div class="input-field">
      <input type="text" required>
      <label>Enter your email</label>
    </div>
    <div class="input-field">
      <input type="password" required>
      <label>Enter your password</label>
    </div>
    <div class="input-field">
      <input type="password" required>
      <label>Confirm your password</label>
    </div>
    <div class="forget">
      <label for="remember">
        <input type="checkbox" id="remember">
        <p>Remember me</p>
      </label>
    </div>
    <button type="submit">Register</button>
    <div class="choice-mode">
      <p>You have an account? <a href="/login">Login</a></p>
    </div>
  </form>
</div>

</main>
