<div class="container-fluid">
  <div class="nav-brand">
    <img class="brandImg" src="/assets/images/brand.jpg">
    <a class="navbar-brand" href="">TRALVELAKÀ</a>
  </div>
  <div class="nav-menu">
    <div class="nav-item" (click)="onHome()">Trang Chủ</div>
    <div class="nav-item" href="#">Giới Thiệu</div>
    <div class="nav-item dropdown">
      <span class="dropdown-title" (click)="toggleDropdown()">Tours ▼</span>
      <ul class="dropdown-menu" [ngClass]="{'show': isDropdownVisible}">
        <li><a href="#">Miền Bắc</a></li>
        <li><a href="#">Miền Trung</a></li>
        <li><a href="#">Miền Nam</a></li>
      </ul>
    </div>
    <div class="nav-item" href="#">Điểm Đến</div>
    <div class="nav-item" href="#">Liên Hệ</div>
  </div>
  <div class="nav-tool">
    <i class="fa-solid fa-magnifying-glass" id="search"></i>
    <button class="bookNow">Book Now</button>
    <div class="nav-tool dropdown" (click)="toggleMenu()">
      <i class="fa-solid fa-user" id="user"></i>
      <ul class="user-menu" [ngClass]="{'show': isMenuVisible}">
        <li><a href="/user-dashboard">Cài đặt</a></li>
        <li><a href="/register">Đăng xuất</a></li>
      </ul>
    </div>

    <!-- <i class="fa-solid fa-user" id="user"></i>
    <ul class="user-menu" [ngClass]="{'showMenu': isMenuVisible, 'hideMenu': !isMenuVisible}">
      <li><a href="/user-dashboard">Cài đặt</a></li>
      <li><a href="/register">Đăng xuất</a></li>
    </ul>
     -->
  </div>
</div>
