app-header {
  position: sticky;
  top: 0;
  /* Đặt header ở trên cùng */
  left: 0;
  width: 100% !important;
  z-index: 1000;

}

main {
  background-image: url('/assets/images/backgroundDetail.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 30px 30px 50px 50px;
}

.container {
  position: relative;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  min-width: 100%;
}

.content {
  background-color: white;
  border-radius: 5px;
  width: 80%;
  align-items: center;
  padding: 20px;
  box-shadow: 0 1px 2px 0 rgb(0, 0, 0);
}

.relate-combo {
  margin-top: 50px;

  h3 {
    margin-bottom: 30px;
  }
}

.subtitle {
  margin-bottom: 30px;
}

.image {
  width: 100%;
}

.img-description {
  width: 80%;
}

.subtitle {
  padding-left: 17%;
}

.initerary {
  justify-content: space-between;

  .fa-solid {
    cursor: pointer;
  }
}

.itinerary-details {
  display: none;
  transition: all 0.3s ease-in-out;
}

.show-itinerary-details {
  display: block;
}

// bill
.bill-body {
  .text-end {
    margin: 5px;
  }

  hr {
    margin: 10px;
  }

  p {
    margin: 0;
  }
}



.bill-body {
  // transform: scale(0.7);
  margin-left: auto;
  right: 30px;
  width: 18%;
  position: fixed;
}

.bill-body .scroll {
  position: absolute;
  bottom: 0;
  top: auto;
}

// code cho rating
.rating {
  color: gold;
  font-size: 20px;
}

.average-rating {
  text-align: center;
  align-items: center;
  padding-right: 20px;
}

.total-review {
  font-size: x-small;
}

.mt-3 {
  flex-grow: 1;
  /* Mở rộng để lấp đầy phần còn lại */
  width: 100%;
}

.progress {
  height: 10px;
}

.review-card {
  background: rgba(255, 255, 255, 0.8);
  padding: 15px;
  border-radius: 10px;

  img {
    height: 50px;
    width: 50px;
  }

  .review-name {
    padding-left: 10px;
    line-height: 1;

    .review-date {
      font-size: xx-small;
    }

    .rating {
      font-size: small;
    }
  }
}

.see-more a {
  font-size: small;
  cursor: pointer;
}

//combo lien quan

.product-card {
  cursor: pointer;
  padding: 5px;
  flex: 0 0 auto; // Không co giãn, giữ nguyên kích thước
  border-radius: 3px;
  box-shadow: 0 2px 5px 0;
  align-items: center;
  justify-content: center;
  display: inline-block;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.03);
  }

  img {
    border-radius: 10px;
    width: 100%;
    height: auto;
    display: block;
  }

  .fa-location-dot {
    font-size: xx-small;
  }

  .name-product {
    font-size: medium;
  }

  .product-time {
    margin: 0;
  }

  hr {
    border: 1px dotted white solid;
    margin: 0;
  }

  .price {
    font-weight: bold;
    margin: 0;
    color: red;

    del {
      color: #3c3c3c;
    }
  }

  .product-rating {
    color: rgb(255, 157, 0);

    .fa-star {
      font-size: medium;
    }
  }
}

.show-reviews {
  cursor: pointer;
  color: rgb(0, 123, 255);
  text-decoration: underline;
  font-size: small;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.review-table-display {
  display: none;
}

.modal-body {
  display: flex;
  gap: 20px;
}

// code lọc feedback theo sao
.btn-choice {
  background-color: white;
  color: gold;
  font-weight: bold;
  border-radius: 5px;
  border: 0.5px solid #000;
  height: 40px;
  width: 100px;
  &:hover {
    border: none;
  }
  &:active {
    background-color: #28e5e5;
  }

}

// code feedback
.btn-submit {
  background-color: #28e5e5;
  border-radius: 5px;
  border: none;
  height: 35px;
  width: 120px;
  font-weight: bold;
  color: white;
}

.btn-submit:hover {
  background-color: pink;
  color: black;
}

.feedback-avatar {
  height: 50px;
}

#rating {
  color: gold;
}
